.button button{ 
    background-image: none;  
    background-color: aqua;
    width: 200px;
    height:150px;
    padding:100px;
    border-radius:10px;
    /* Other button styles */ 
  }   
  #b1{
    background-image: none; 
  }
  #b2{
    background-image: none; 
  }